body {
    background-color: black;
}
.card-header {
    background-color: #ffff !important;
}
.header-title {
  color: blueviolet;
  padding: 10px;
  border-radius: 5px;
}
.button1 {
  background-color: blueviolet;
  color: #F0F0F0;
  border-radius: 20px;
  border-color: black;
}

.button1:hover{
  background-color: black;
  color: blueviolet;
  border-color: blueviolet;
}
.helpme{
  color: #F0F0F0;
}
.forms{
  width: 100%;
}
label[for="textForm"] {
  padding-top: 2px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}
.forms .form-control::placeholder {
  font-size: 14px;
}
.addPerson{
  background-color: #5c5470;
}
.btn2{
  background-color: blueviolet;
  color: #F0F0F0;
  border-radius: 20px;
  border-color: black;
}
.btn2:hover{
  background-color: gray;
  color: blueviolet;
  border-color: blueviolet;
}
.btn3 {
  background-color: blueviolet;
  padding-top: 2px;
  color: #F0F0F0;
  border-radius: 20px;
  border-color: black;
  margin-right: 10px;
}

.btn3:hover{
  background-color: black;
  color: blueviolet;
  border-color: blueviolet;
}
.personCard{
  background-color: #e7eaf6;
}
.personDetails{
  font-size: 16px;
  font-weight: 600;
}
.personD{
  font-size: 15px;
  font-weight: 600;
}
